body{
    background-color: lightgray;    
    line-height:2;
    font-weight: bold;
}
main{
    background-color:white;
    max-width:300px;
    padding:30px;
    color: black;
    border-radius:10px;
    position:absolute;
    box-shadow: 0 0 10px gray;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
input{
    width:100%;
    padding:0.4rem;
    margin: 8px 0 15px;
    outline:none;
    border:0.5px solid gray;
    box-sizing: border-box;
}
input:focus{
    box-shadow: 0 0 10px gray;
    outline:none;
}
ol>li{
    width: 230px;
    padding: 5px 10px 5px 20px;
    margin: 3px;
    background-color: rgb(189,217,240);
    border: 0.5px solid rgb(70,67,212);
    border-radius: 3px;
}
li>button{
    font-size: smaller;
    float: right;
    color: red;
    border: none;
    background-color: rgb(189,217,240);
    cursor:pointer;
    margin-top: 5px;
}